.navbar{
margin-right: 10%;
}
.navEle{
    margin-right: 2%;
    color: black;
    text-decoration: none;
    margin-left: 2%;
}
.navlogo{
    margin-top: 2%;
    margin-right: 35%;
    margin-left: 4%;
}
.navbutton{
    color: white;
    background-color: green;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
}
.sectionAheadingOne{
    color: darkslategray;
}
.sectionAheading{
    color: green;
}
.sectionAdescription{
    color: grey;
}
.sectionA{
    margin-left: 8%;
    margin-top: 2%;
    margin-right: 8%;
    padding-bottom: 4%;
    padding-top: 4%;
    background-color: lightgray;
}
.Last{
    right: 50%;
    position: absolute;
    margin-top: 1%;
}
.sectionimg{
    margin-left: 40%;
    margin-top: 5%;
}
.sectioncont{
    margin-left: 10%;
}
.sectionB{
  justify-content: center;
  align-items: center;
}
.sectionBhead{
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkslategray;
}
.sectionBdes{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.sectionBlogo{
    margin-left: 25%;
    
}
.sectionC{
    justify-content: center;
    align-items: center;
}
.sectionChead{
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkslategray;
   
}
.sectionCdes{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.sectionE{
    display: flex;
}
.sectionEimg{
    margin-left: 10%;
    margin-top: 5%;
    width: 85%;
}
.sectionEhead{
    margin-top: 18%;
    color: darkslategray;
    
    }
.sectionEdes{
  margin-right: 30%;
  margin-top: 4%;
    color: gray;
}
.sectionEbutton{
    color: white;
    background-color: green;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
}